.feed-header {
  margin-left: 10px;
}

.feed-container {
  border-bottom: 1px solid var(--accent);
  margin-top: 10px;
  color: white;
}

.date-time {
  margin-top: 5px;
  font-size: 12px;
}

.feed-user-info {
  display: flex;
  flex-direction: row;
}

.feed-tags {
  display: flex;
}

.rectangle {
  background-color: gray; /* Changing background color */
  font-weight: bold; /* Making font bold */
  border-radius: 20px; /* Making border radius */
  width: 100px; /* Making auto-sizable width */
  height: auto; /* Making auto-sizable height */
  padding: 5px 30px 5px 30px; /* Making space around letters */
  font-size: 18px; /* Changing font size */
  flex-basis: 100px;
}

h3 {
  text-align: left;
}
