.feed-header {
  margin-left: 10px;
}

.feed-container {
  border-bottom: 1px solid var(--accent);
  margin-top: 10px;
  color: white;
  background-color: rgb(64, 77, 85); /* Changing background color */
  font-weight: bold; /* Making font bold */
  border-radius: 20px; /* Making border radius */
  width: 520px; /* Making auto-sizable width */
  height: auto; /* Making auto-sizable height */
  padding: 2px 10px 2px 10px; /* Making space around letters */
  font-size: 11px; /* Changing font size */
  flex-basis: 100px;
}

.date-time {
  margin-top: 5px;
  font-size: 12px;
}

.feed-user-info {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.feed-tags {
  display: flex;
}

.rectangle {
  background-color: #009999; /* Changing background color */
  font-weight: bold; /* Making font bold */
  border-radius: 20px; /* Making border radius */
  width: 100px; /* Making auto-sizable width */
  height: auto; /* Making auto-sizable height */
  padding: 2px 10px 2px 10px; /* Making space around letters */
  font-size: 11px; /* Changing font size */
  flex-basis: 100px;
}

h3 {
  text-align: left;
  font-size: 16px;
}
