:root {
  --main-color: #009999;
  --button-hover-color: #00cc99;
  --accent: #669999;
  background: #273b3b;
  color: white;
}

textarea {
  color: rgb(38, 50, 56);
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  border: 2px solid #669999;

  padding: 10px 20px;

  border-radius: 5px;
  /* outline: none; */
  box-sizing: border-box;
  margin-bottom: 27px;
}

textarea:focus {
  outline: none;
  border-color: var(--main-color);
  box-shadow: 0 0 3px var(--main-color);
}

div {
  color: white;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

p {
  color: white;
}
